.tab-menu {
    button {
        padding: 20px 50px;
        background-color: yellow;
        color: white;
        font-size: 25px;
    }
    p {
        color: red;
        font-size: 18px;
        visibility: hidden;
        opacity: 0;
    }
    .active{
        visibility: visible;
        opacity: 1;
    }
}